{% extends "base.html" %}
 
{% block content %}

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Question</td>
            <td>Answer</td>
            <td>Topic</td>
            <td>Subtopic</td>
        </tr>
    </thead>

{% for question in questions %}
<tr>
    <td><a href="{{ url_for('edit', question_id=question.id) }}">{{ question.id }}</a></td>
    <td><a href="{{ url_for('edit', question_id=question.id) }}">{{ question.question }}</a></td>
    <td><a href="{{ url_for('edit', question_id=question.id) }}">{{ question.answer }}</a></td>
    <td>{{ question.topic }}</a></td>
    <td>{{ question.subtopic }}</a></td>
</tr>
{% endfor %}

</table>
{% if prev_url %}
<a href="{{ prev_url }}">Back</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Next</a>
{% endif %}

{% endblock %}