{% extends 'base.html' %}

{% block question %}


<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<table class="table">
    <tr>
        <td>Question {{ question.id }}: {{ question.question }}</td>
    </tr>
    <tr>
        <td><button onclick="show()">Show Answer</button></td>
    </tr>
    <tr>
        <td><div id="answer" class="answer" style="display:none; white-space:pre-wrap">Answer:<br> {{ question.answer }}</div></td>
    </tr>
</table>
<br>

<form action=" {{ url_for('display_question') }}">
        <button type="submit" >Next Question </button>
</form>


<form action=" {{ url_for('edit', question_id=question.id) }}">
    <button type="submit" value="Edit this question" >Edit this question</button>
</form>

<form action=" {{ url_for('add') }}">
    <button type="submit">Add a new question</button>
</form>

{% endblock %}